<div class="nav">
   <div class="nav__option" routerLink="simply-generator" routerLinkActive="active">Simply Generator</div>
   <div class="nav__option" routerLink="creator" routerLinkActive="active">Creator</div>
   <div class="nav__option" routerLink="players-mode" routerLinkActive="active">Players Mode</div>
   <div class="nav__option" routerLink="probability" routerLinkActive="active">Probability</div>
</div>
<router-outlet></router-outlet>

<p>.</p>
<p>.</p><p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p><p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p><p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
