@use 'sass:math';
@import "../../../stylings/vars.scss";

$color_dice: $sec-color;
$color_dice_dark: $sec-color-dark;
$widthSides: 6;
$heightSides: 6;
$unitWidthSides: 1em * $widthSides;
$unitHeightSide: 1em * $heightSides / 2;

$anglePentagon: (360 / 5) * 1deg;
$apothemPentagon: $heightSides / (2 * math.tan($anglePentagon / 2));
$heightDeflectionTriangles: math.sqrt(math.pow(($widthSides), 2) - math.pow($apothemPentagon, 2));
$sinDeflaction: math.div($heightDeflectionTriangles, $widthSides);
$angleDeflection: math.asin($sinDeflaction);

$isoscelesSide: math.sqrt(math.pow(($widthSides / 2), 2) + math.pow($apothemPentagon, 2));
$diffDeflectionVertexToBase: $isoscelesSide - $apothemPentagon;
$distance-top-from-bottom-triangles: math.tan($angleDeflection) * $diffDeflectionVertexToBase;
$heightConnectingCubes: ($diffDeflectionVertexToBase / math.cos($angleDeflection)) * 1.0em;

.top1{ 
   transform: translate3d(0px, 0px, $heightDeflectionTriangles * -1em) rotateZ(0deg) rotateX($angleDeflection);
}
.top2{
   transform: translate3d(0px, 0px, $heightDeflectionTriangles * -1em) rotateZ(72deg) rotateX($angleDeflection);
}
.top3{
   transform: translate3d(0px, 0px, $heightDeflectionTriangles * -1em) rotateZ(144deg) rotateX($angleDeflection);
}
.top4{
   transform: translate3d(0px, 0px, $heightDeflectionTriangles * -1em) rotateZ(216deg) rotateX($angleDeflection);
}
.top5{
   transform: translate3d(0px, 0px, $heightDeflectionTriangles * -1em) rotateZ(288deg) rotateX($angleDeflection );
}
.top6{
   transform: translate3d(0px, 0px, $distance-top-from-bottom-triangles + $heightDeflectionTriangles + em) rotateZ(36deg) rotateX($angleDeflection * -1) rotateY(180deg);
}
.top7{
   transform: translate3d(0px, 0px, $distance-top-from-bottom-triangles + $heightDeflectionTriangles + em) rotateZ(108deg) rotateX($angleDeflection * -1) rotateY(180deg);
}
.top8{
   transform: translate3d(0px, 0px, $distance-top-from-bottom-triangles + $heightDeflectionTriangles + em) rotateZ(180deg) rotateX($angleDeflection * -1) rotateY(180deg);
}
.top9{
   transform: translate3d(0px, 0px, $distance-top-from-bottom-triangles + $heightDeflectionTriangles + em) rotateZ(252deg) rotateX($angleDeflection * -1) rotateY(180deg);
}
.top10{
   transform: translate3d(0px, 0px, $distance-top-from-bottom-triangles + $heightDeflectionTriangles + em) rotateZ(324deg) rotateX($angleDeflection * -1) rotateY(180deg);
}
.obj3d{
   width: $size-dice;
   height: $size-dice;
   perspective: 800px;
}

.dice{
   position: relative;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform-origin: center;
   transform: rotateX(90deg) rotateZ(190deg);
}

.deltoid {
   position: absolute;
   top: 50%;
   left: calc(50% - $unitHeightSide);
   width: 0;
   transform-origin: 50% 0;
   backface-visibility: hidden;
   border-left: $unitHeightSide solid transparent;
   border-right: $unitHeightSide solid transparent;
   border-bottom: $unitWidthSides solid $sec-color-lightest;
   

   &::after {
      content: '';
      position: absolute;
      top: $unitWidthSides;
      left: -$unitHeightSide;
      width: 0;
      border-left: $unitHeightSide solid transparent;
      border-right: $unitHeightSide solid transparent;
      border-top: $heightConnectingCubes solid $sec-color-lightest;
   }
}
.deltoid-text {
   position: absolute;
   transform: translateX(-50%) translateY(80%);
   height: 1rem;
   font-size: 0.65rem;
   text-align: center;
   
}
