<div class="nav">
   <div class="nav__option">Simply Generator</div>
   <div class="nav__option">Creator</div>
   <div class="nav__option">Players Mode</div>
   <div class="nav__option">Probability</div>
</div>

<simply-generator></simply-generator>

<p>.</p>
<p>.</p><p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p><p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p><p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
