$theme-color: rgba(0,0,0,1);
$primary-color: rgba(74, 173, 25, 1);
$primary-dark-color: rgb(21, 48, 8);
$primary-light-color: rgb(113, 255, 42);
$secondary-color: rgb(23, 97, 160, 1);
$secondary-dark-color: rgb(9, 38, 63);
$secondary-light-color: rgb(37, 153, 255);

