// $theme-color: rgba(0,9,17,1);
// $primary-color: rgba(74, 173, 25, 1);
// $primary-color: rgba(14, 169, 107, 1);
// $primary-dark-color: rgb(21, 48, 8);

// $primary-light-color: rgb(113, 255, 42);
// $secondary-color: rgb(2, 39, 70, 1);
// $secondary-dark-color: rgb(7, 5, 92);
// $secondary-light-color: rgb(9, 65, 116);

$size-dice: 3rem;

$sec-color-darkest: rgb(0, 16, 31);
$sec-color-dark: rgba(1, 25, 45);
$sec-color: rgba(2, 39, 70);
$sec-color-light: rgba(4, 52, 92);
$sec-color-lightest: rgb(13, 89, 151);

$pri-color-darkest: rgb(0, 29, 18);
$pri-color-dark: rgba(0, 47, 28);
$pri-color: rgba(0, 74, 44);
$pri-color-light: rgba(0, 97, 58);
$pri-color-lightest: rgb(3, 156, 95);


$formal-c-darkest: rgb(65, 28, 0);
$formal-c-dark: rgb(108, 46, 0);
$formal-c: rgb(144, 63, 0);
$formal-c-light: rgb(176, 87, 21);
$formal-c-lightest: rgb(211, 120, 52);


$danger-c-dark: rgba(99, 0, 0, 0.7);
$danger-c: rgba(141, 0, 0, 0.7);
$danger-c-light: rgba(207, 0, 0, 0.7);