<div class="container">
   <header-banner></header-banner>

   <div class="section" role="section">
      <div class="section__panel section__kind-of-dices">
         <dice-panel [removedDice]="diceToRemove" (dicesSaved)="onDiceAdded($event)" (diceRemoved)="onDiceRemoved($event)"></dice-panel>
      </div>

      <div class="section__panel section__results">
         <dices-result (diceRemoved)="onDiceRemoved($event)"></dices-result>
      </div> 

   </div>

   <div class="footer" role="footer">
      FOOTER
   </div>
</div>