@import "../stylings/vars.scss";

.container {
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 90vw;
   height: 100vh;
   
   &::before {
      content: '';
      z-index: -1;
      display: block;
      position: relative;
      top: 0;
      width: 80vw;
      height: auto;
      margin: 0 auto;
      box-shadow: 0px 0px 40vmin 12vmin $sec-color-light;
   }
}

.section {
   flex: 1 1 100%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   margin: 0.7rem 1.25rem;

   border-radius: 0.6rem;
   &__panel {
      margin: 0.6rem;
      padding: 0.2rem;
      border-radius: 0.6rem;
      background: linear-gradient(  $sec-color 0%, $sec-color-dark 100%);
      box-shadow:  0 0rem 0.2rem darken($color: $sec-color, $amount: 12),
                   inset 0 0 0.2rem 0.1rem $sec-color-darkest;
   }
   &__kind-of-dices {
      flex-basis: 22%;
   }
   &__results {
      flex-basis: 78%;
     }
}

.footer {
   background-color: rgba(76, 216, 111, 0.4);
}