<div class="container">
   <h3 class="title">
      Create your own dice
   </h3>
   
   <form class="creator" novalidate #diceForm="ngForm">
      <aside class="creator__one-aside">
         <div class="creator__box-icon">
            <div  class="creator__icon">{{ activeValue }}</div>
            <!-- <ng-container *ngIf="newDice.component">
               <ng-container *ngComponentOutlet="newDice.component"></ng-container>
            </ng-container> -->
         </div>
      </aside>
      <aside class="creator__two-aside">
         <div class="creator__option">
            <label class="creator__label" for="type">TYPE</label>
            <select class="creator__input" name="newDice" [(ngModel)]="newDice">
               <option *ngFor="let dice of dicesCollection" [ngValue]="dice" 
               (click)="activeValue = dice.data.values![dice.data.values!.length -1]; activeDice = dice">{{ dice.data.name  | uppercase }}</option>
            </select>
         </div>
         <div class="creator__option">
            <label class="creator__label" for="sides">SIDES</label>
            <input class="creator__input" id="sides" name="dice" type="text" size="6" 
            [(ngModel)]="newDice.data.value" (input)="setValuesFromSides()"
            [disabled]="newDice.data.name !== 'custom'">
         </div>
         <div class="creator__option">
            <label class="creator__label" for="values">
               VALUES
               <select class="creator__label-mode" id="values" name="activeMode" [(ngModel)]="activeMode">
                  <option class="creator__label-option" name="multi" value="multi">MULTI</option>
                  <option class="creator__label-option" name="single" value="single">SINGLE</option>
               </select>
            </label>
            <div class="creator__input-values">
               <div *ngFor="let newVal of modeValue(); let i = index; trackBy:trackByIndex">
                  <input #inputValue *ngIf="newDice.data.values" 
                  class="creator__input" [id]="i" type="text" size="4" name="newVal{{i}}" 
                  [(ngModel)]="newDice.data.values && newDice.data.values[activeMode === 'single' ? i : newDice.data.values.length - 1 ]" 
                  (input)="this.activeValue = inputValue.value" 
                  (focusin)="this.activeValue = inputValue.value"
                  [disabled]="activeMode === 'multi'">
                  <div #values *ngIf="activeMode === 'single'" class="creator__select-value" (click)="showTableValues(i)">&#10140;</div>
               </div>
            </div> 
         </div>
         <div class="creator__option">
            <label class="creator__label" for="name-dice">NAME</label>
            <input class="creator__input" id="name-dice" name="newDiceName" type="text" size="6" 
            [(ngModel)]="newDiceName" #newDiceNameVar="ngModel" required="1">
         </div>
         <div class="creator__errors" *ngIf="newDiceNameVar.errors && newDiceNameVar.dirty || newDiceNameVar.touched" >
            <span *ngIf="newDiceNameVar.errors?.['required']">
               Please enter name for the Dice
            </span>
         </div>
      </aside>
      <div class="creator__actions">
         <button class="create-btn" (click)="addNewDice()" [disabled]="diceForm.invalid" [ngClass]="(diceForm.valid) ? 'create-btn--valid' : 'create-btn--invalid'">ADD NEW DICE</button>
         <button *ngIf="newDice.data.name !== 'custom'" class="remove-btn" (click)="removeDice()">REMOVE DICE</button>
      </div>
   </form>
</div>