<div class="container">
   <h3 class="title">
      Create your own dice
   </h3>
   <div class="creator">
      <aside class="creator__one-aside">
         <div class="creator__box-icon">
            <div class="creator__icon">&#10249;</div>
         </div>
      </aside>
      <aside class="creator__two-aside">
         <div class="creator__option">
            <label class="creator__label" for="type">TYPE</label>
            <select class="creator__input">
               <option>Custom</option>
               <option>D4</option>
               <option>D6</option>
               <option>D8</option>
            </select>
            <input class="creator__input" id="name" type="text" size="5" placeholder="name">
         </div>
         <div class="creator__option">
            <label class="creator__label" for="sides">SIDES</label>
            <input class="creator__input" id="sides" type="text" size="6">
         </div>
         <div class="creator__option">
            <label class="creator__label" for="values">
               VALUES
               <select class="creator__values-mode" id="values">
                  <option class="creator__values-option">MULTI</option>
                  <option class="creator__values-option">SINGLE</option>
               </select>
            </label>
            <div class="creator__values" *ngFor="let newVal of newDice.values; let i = index">
               <input #val class="creator__input" [id]="i" type="text" size="4" [ngModel]="newVal | toHexdecimal" (ngModelChange)="newVal">
               <div #values class="creator__select-value" (click)="showTableValues(val.id)">&#10140;</div>
            </div>
         </div>
      </aside>
   </div>
   <div class="create-btn">ADD NEW DICE</div>
</div>