<div class="container">
   <h3 class="title">
      Create your own dice
   </h3>
   <div class="creator">
      <aside class="creator__one-aside">
         <div class="creator__box-icon">
            <div class="creator__icon">&#10249;</div>
         </div>
      </aside>
      <aside class="creator__two-aside">
         <div class="creator__option">
            <label class="creator__label" for="type">TYPE</label>
            <select class="creator__input">
               <option>Custom</option>
               <option>D4</option>
               <option>D6</option>
               <option>D8</option>
            </select>
            <input class="creator__input" id="name" type="text" size="5" placeholder="name">
         </div>
         <div class="creator__option">
            <label class="creator__label" for="sides">SIDES</label>
            <input class="creator__input" id="sides" type="text" size="6">
         </div>
         <div class="creator__option">
            <label class="creator__label" for="values">
               VALUES
               <select class="creator__values-mode" id="values">
                  <option class="creator__values-option">MULTI</option>
                  <option class="creator__values-option">SINGLE</option>
               </select>
            </label>
            <div class="creator__values">
               <input class="creator__input" id="value1" type="text" size="4">
               <div class="creator__select-value">&#10140;</div>
               <div class="creator__table-values">
                  <span class="table-value">&#9733;</span>
                  <span class="table-value">&#9734;</span>
                  <span class="table-value">&#10026;</span>
                  <span class="table-value">&#10027;</span>
                  <span class="table-value">&#10028;</span>
                  <span class="table-value">&#10029;</span>
                  <span class="table-value">&#10030;</span>
                  <span class="table-value">&#10031;</span>
                  <span class="table-value">&#10032;</span>
                  <span class="table-value">&#10033;</span>
                  <span class="table-value">&#10034;</span>
                  <span class="table-value">&#10035;</span>
                  <span class="table-value">&#10036;</span>
                  <span class="table-value">&#10037;</span>
                  <span class="table-value">&#10038;</span>
                  <span class="table-value">&#10039;</span>
                  <span class="table-value">&#10040;</span>
                  <span class="table-value">&#10041;</span>
                  <span class="table-value">&#10042;</span>
                  <span class="table-value">&#10043;</span>
                  <span class="table-value">&#10044;</span>
                  <span class="table-value">&#10045;</span>
                  <span class="table-value">&#10046;</span>
                  <span class="table-value">&#10047;</span>
                  <span class="table-value">&#10048;</span>
                  <span class="table-value">&#10049;</span>
                  <span class="table-value">&#10050;</span>
                  <span class="table-value">&#10051;</span>
                  <span class="table-value">&#10052;</span>
                  <span class="table-value">&#10053;</span>
                  <span class="table-value">&#10054;</span>
                  <span class="table-value">&#10055;</span>
                  <span class="table-value">&#10056;</span>
                  <span class="table-value">&#10057;</span>
                  <span class="table-value">&#10058;</span>
                  <span class="table-value">&#10059;</span>
               </div>
            </div>
         </div>
      </aside>
   </div>
   <div class="create-btn">ADD NEW DICE</div>
</div>