$theme-color: rgba(0,0,0,1);
$primary-color: rgba(74, 173, 25, 1);
$primary-dark-color: rgb(21, 48, 8);
$primary-light-color: rgb(113, 255, 42);
$secondary-color: rgb(23, 97, 160, 1);
$secondary-dark-color: rgb(9, 38, 63);
$secondary-light-color: rgb(37, 153, 255);

*{
   margin:  0;
   padding: 0;
   box-sizing: border-box;
}
body {
   width: 100vw;
   height: 100vh;
   background-color: $theme-color;
   
   &::before {
      content: '';
      display: block;
      width: 80vw;
      height: 1px;
      margin: auto;
      box-shadow: 0px 0px 40vmin 10vmin $secondary-color;
   }
   // &::before {
   //    content: '';
   //    display: block;
   //    width: 100vw;
   //    height: 100vh;
   //    transform: translateY(-50%);
   //    margin: auto;

   //    background: radial-gradient(circle, $secondary-dark-color 0%, rgba(0, 213, 255, 0) 50vmin);
   // }
}