<div class="tiles-container">
   <h4 class="tiles-header">Choosen dices:</h4>
   <div class="tile">
      <div class="tile__name">D4</div>
      <img class="tile__icon" src="../assets/logo.png">
      <div class="tile__amount">x1</div>
      <span class="tile__cross"></span>
   </div>
   <div class="tile">
      <div class="tile__name">D10</div>
      <img class="tile__icon" src="../assets/logo.png">
      <div class="tile__amount">x21</div>
      <span class="tile__cross"></span>
   </div>
</div>

<h4 class="results-header">Dices Results</h4>
<div class="results-list">
   <div class="result">
      <span class="result__name">D20</span>
      <span class="result__score">10, 1, 1, 8</span>
   </div>
   <div class="result">
      <span class="result__name">D4</span>
      <span class="result__score">2</span>
   </div>
   <div class="result">
      <span class="result__name">D12</span>
      <span class="result__score">10, 9, 2</span>
   </div>
</div>
<div class="results-list">
   <div class="result">
      <span class="result__name">D20</span>
      <span class="result__score">2, 14, 15, 2</span>
   </div>
   <div class="result">
      <span class="result__name">D4</span>
      <span class="result__score">1</span>
   </div>
   <div class="result">
      <span class="result__name">D12</span>
      <span class="result__score">5, 11, 2</span>
   </div>
</div>


