<h4 class="results-header">Dices Results</h4>
<div class="results-list">
   <div class="result">
      <span class="result__name">D20</span>
      <span class="result__score">10, 1, 1, 8</span>
   </div>
   <div class="result">
      <span class="result__name">D4</span>
      <span class="result__score">2</span>
   </div>
   <div class="result">
      <span class="result__name">D12</span>
      <span class="result__score">10, 9, 2</span>
   </div>
</div>
<div class="results-list">
   <div class="result">
      <span class="result__name">D20</span>
      <span class="result__score">2, 14, 15, 2</span>
   </div>
   <div class="result">
      <span class="result__name">D4</span>
      <span class="result__score">1</span>
   </div>
   <div class="result">
      <span class="result__name">D12</span>
      <span class="result__score">5, 11, 2</span>
   </div>
</div>


