@import "../../../stylings/vars.scss";

.results-header {
   margin-top: 0.8rem;
   margin-left: 0.6rem;
   color: $pri-color-light;
   text-shadow: 0 0 3px rgb(0, 0, 0);

}
.results-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0.3rem;
   padding: 0.2rem;
   color: $pri-color-light;
   border-width: 2px;
   border-style: solid;
   border-image-slice: 1;
   border-image-source: linear-gradient(to right, $sec-color-light, rgba(0, 0, 0, 0) 90%);
   border-left: 0;
   border-right: 0;
   border-top: 0;
}
.result {
   margin: 0.2rem;
   padding: 0.1rem 0.4rem;
   border-radius: 50px;
   box-shadow:  inset -1px 1px 4px $sec-color-darkest,
   inset 1px -1px 5px $sec-color-light, 
   inset -3px 1px 5px $sec-color-lightest;

   &__name {
      position: relative;
      transform: scale3d(2);
      left: -0.2rem;
      height: 1rem;
      padding: 0.1rem 0.6rem;
      box-shadow: 1px 0px 7px #000000e3,
      inset -2px 1px 8px $sec-color-light;
      border-radius: 50px;
      color: $pri-color-lightest;
   }
   &__score {
      margin: 0.1rem;
      padding: 0rem 0.2rem;

   }
}